.events-list {
  margin-top: 32px;
}

.events-list h2 {
  display: flex;
  justify-content: center;
  font-size: 32px;
  color: rgb(2, 4, 79);
}

.events-list ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.events-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c9c9c9;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 5px;
  width: 40%;
}

.events-list li h3 {
  margin: 0;
  font-size: 16px;
  color: rgb(2, 4, 79);
}

.events-list li p {
  margin: 8px 0;
  font-size: 12px;
}

.task-button {
  margin-left: 0.5rem;
  background-color: rgb(2, 4, 79);
  color: white;
  display: flex;
  border: 2px solid rgb(2, 4, 79);
  border-radius: 2rem;
  padding: 0.3rem 0rem 0.3rem 0.6rem;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  width: 4%;
  min-width: 85px;
  align-self: flex-start; /* Changed from flex-end to flex-start */
  left: 0;
  transition: linear 0.2s background-color, linear 0.1s transform;
}

.task-button:hover {
  cursor: pointer;
  background-color: rgb(18, 21, 116);
  transform: scale(1.02);
}

.add-task svg {
  position: fixed;
  padding-bottom: 0.2rem;
}

.pera {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.action-close {
  position: relative;
}

.action-close > svg {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  transition: transform 0.2s linear, color 0.2s linear;
}

.action-close > svg:hover {
  transform: scale(1.2);
  color: rgb(18, 21, 116);
}

.create-event-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-event-popup {
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 80%;
  max-width: 600px;
}
