.change-password-form {
  position: relative;
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  gap: 5rem;
  padding: 40px 40px 60px;
  width: 50rem;
}

.change-password-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -7rem;
  width: 100%;
  gap: 2rem;
}

.change-password-title {
  margin: 0;
  font-weight: 700;
  font-size: 4.5rem;
  padding: 0 0 40px;
}

.feedback-changepass {
    position: absolute !important;
    top: 44rem;
}

.reset-password-close {
    position: absolute;
    top: 12.3rem;
    /* right: 89rem; */
}