.changelog {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  padding: 4rem 4rem 6rem;
  width: 50rem;

  font-size: 2rem;
}

@media screen and (max-width: 1860px) {
  .change-log-form {
    margin-top: 14rem;
  }
}

@media screen and (max-width: 1440px) {
  .change-log-form {
    margin-top: 32rem;
  }
}
.centered-title-changelog {
  text-align: center;
  font-size: 4rem;
}

.changelog-field > ul {
  margin: 0;
  margin-bottom: 1.5rem;
}
