.chat-body {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.chat-body p {
  margin: 0;
}

.chat-body h2 {
  margin: 0;
}

.chat-container {
  position: absolute;
  display: flex;
  width: 70%;
  height: 80%;
  background-color: rgba(2, 4, 79, 0.7);
  border-radius: 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  top: 53%;
  left: 50%;
  translate: -50% -50%;
}

.chat-list-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-list {
  flex: 1;
  overflow-y: auto;
}

.chat-user-info {
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: space-between;
}

.chat-user-info-avatar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.chat-user-info-avatar .chat-user-info-profile-avatar {
  width: 5rem !important;
  height: 5rem !important;
  font-size: 2rem !important;
}

.chat-user-info-icons {
  display: flex;
  gap: 2rem;
}

.chat-user-info-icons svg {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
}

.chat-list-search {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.chat-list-search .chat-list-search-add-minus {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  background-color: rgba(2, 4, 79, 0.5);
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.2s linear;
}

.chat-list-search .chat-list-search-add-minus:hover {
  transform: scale(1.1);
}

.chat-list-search-bar {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 1rem;
  background-color: rgba(2, 4, 79, 0.5);
  padding: 1rem;
}

.chat-list-search-bar input {
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 2rem;
  width: 100%;
  padding: 1rem;
}

.chat-list-search-bar svg {
  width: 2.5rem;
  height: 2.5rem;
}

.chat-list-search-bar svg path {
  fill: white;
}

.chat-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  cursor: pointer;
  border-bottom: 1px solid #dddddd35;
  transition: all 0.1s linear;
}

.chat-list-item:hover {
  background-color: rgba(2, 4, 79, 0.3);
}

.chat-list-item-right-side {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.chat-list-item .chat-list-item-avatar {
  width: 5rem !important;
  height: 5rem !important;
  font-size: 2rem !important;
}

.chat-list-item-texts {
  display: flex;
  flex-direction: column;
}

.chat-list-item-texts span {
  font-weight: 500;
}

.chat-list-item-texts p {
  font-size: 1.6rem;
  font-weight: 300;
}

.chat-list-item-badge {
  padding-left: 2rem;
}

.chat-messages-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #dddddd35;
  border-right: 1px solid #dddddd35;
  height: 100%;
}

.chat-messages-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid #dddddd35;
}

.chat-messages-top-avatar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.chat-messages-top-avatar .chat-messages-top-avatar-img {
  width: 7rem !important;
  height: 7rem !important;
  font-size: 3rem !important;
}

.chat-messages-top-avatar-texts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chat-messages-top-avatar-texts span {
  font-size: 2.5rem;
  font-weight: bold;
}

.chat-messages-top-avatar-texts p {
  font-size: 1.6rem;
  font-weight: 300;
  color: #a5a5a5;
}

.chat-messages-top-icons svg {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.chat-messages-top-icons svg:hover {
  transform: scale(1.1);
}

.chat-messages-center {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
  overflow-y: auto;
}

.chat-messages-center.dragging {
  border: 2px dashed #007bff;
  background-color: rgba(0, 123, 255, 0.1);
}

.load-more-button {
  background-color: #5183fe;
  color: white;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  width: fit-content;
  align-self: center;
  margin: 0 0 2rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.load-more-button:hover {
  transform: scale(1.1);
}

.chat-messages-center .chose-chat {
  position: absolute;
  font-size: 2.5rem;
  top: 45%;
  left: 40%;
  font-weight: 300;
  color: #a5a5a5;
}

.chat-messages-center-message-other {
  display: flex;
  align-self: flex-end;
  max-width: 70%;
  gap: 2rem;
}

.chat-messages-center-message img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.chat-messages-center-message .chat-messages-center-message-texts {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chat-messages-center-message-other .chat-messages-center-message-box {
  font-family: inherit;
  margin: 0;
  background-color: rgba(2, 4, 79, 0.3);
  padding: 2rem;
  border-radius: 1rem;
  white-space: pre-wrap;
}

.chat-messages-center-message-box {
  position: relative;
}

.chat-messages-center-message-box a {
  color: #a0deff;
  text-decoration: none;
  word-break: break-all;
}

.chat-messages-center-message-seen-icon {
  position: absolute;
  bottom: 0.3rem;
  left: 0.5rem;
  font-size: 2rem !important;
  border-radius: 50%;
}

.chat-messages-center-message-texts .chat-messages-center-time-stamp {
  font-size: 1.6rem;
  font-weight: 300;
  color: #a5a5a5;
}

.chat-messages-center-message-texts img {
  width: 100%;
  height: 25rem;
  border-radius: 1rem;
  object-fit: cover;
}

.chat-messages-center-message-own {
  display: flex;
  gap: 2rem;
  max-width: 70%;
}

.chat-messages-center-message-own .chat-messages-center-message-texts pre {
  font-family: inherit;
  margin: 0;
  background-color: #5183fe;
  padding: 2rem;
  border-radius: 1rem;
  white-space: pre-wrap;
}

.chat-messages-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  border-top: 1px solid #dddddd35;
  margin-top: auto;
}

.chat-messages-bottom-icons svg {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.chat-messages-bottom-icons svg:hover {
  transform: scale(1.1);
}

.chat-messages-bottom-input {
  flex: 1;
  font-family: inherit;
  background-color: rgba(2, 4, 79, 0.5);
  border: none;
  outline: none;
  color: white;
  font-size: 2rem;
  padding: 1.5rem;
  border-radius: 1rem;
  max-height: 4rem;
  white-space: pre-wrap;
  resize: none;
}

.chat-messages-bottom-emoji {
  position: relative;
}

.chat-messages-bottom-emoji svg {
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.chat-messages-bottom-emoji svg:hover {
  transform: scale(1.1);
}

.chat-messages-bottom-emoji-picker {
  position: absolute;
  bottom: 5rem;
  left: 50%;
}

.epr-skin-tone-select .epr-tone-1f3fb {
  transform: translateX(28px) scale(1.3) !important;
}

.epr-skin-tone-select .epr-tone-1f3fc {
  transform: translateX(56px) scale(1.3) !important;
}

.epr-skin-tone-select .epr-tone-1f3fd {
  transform: translateX(84px) scale(1.3) !important;
}

.epr-skin-tone-select .epr-tone-1f3fe {
  transform: translateX(112px) scale(1.3) !important;
}

.epr-skin-tone-select .epr-tone-1f3ff {
  transform: translateX(140px) scale(1.3) !important;
}

.chat-messages-send-button {
  background-color: #5183fe;
  color: white;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.chat-messages-send-button:hover {
  transform: scale(1.1);
}

.chat-detail-container {
  flex: 1;
}

.chat-detail-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem 2rem;
  border-bottom: 1px solid #dddddd35;
}

.chat-detail-user .chat-detail-user-avatar {
  width: 13rem !important;
  height: 13rem !important;
  font-size: 7rem !important;
}

.chat-detail-info {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2rem;
}

.chat-detail-info-option-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-detail-info-option-title svg {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(2, 4, 79, 0.3);
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

.chat-detail-info-option-media {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.chat-detail-info-option-media-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-detail-info-option-media-item-detail {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.chat-detail-info-option-media-item-detail img {
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  object-fit: cover;
}

.chat-detail-info-option-media-item-detail span {
  font-size: 1.6rem;
  color: lightgray;
  font-weight: 300;
}

.chat-detail-download-icon {
  width: 3.5rem !important;
  height: 3.5rem !important;
  background-color: rgba(2, 4, 79, 0.3);
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

.chat-add-user {
  position: absolute;
  width: max-content;
  height: max-content;
  padding: 3rem;
  background-color: rgba(2, 4, 79, 0.9);
  border-radius: 1.2rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.chat-add-user form {
  display: flex;
  gap: 2rem;
}

.chat-add-user form input {
  border: none;
  outline: none;
  font-size: 2rem;
  padding: 1.5rem;
  border-radius: 1rem;
}

.chat-add-user form button {
  font-size: 1.8rem;
  background-color: #1a73e8;
  color: white;
  padding: 1.5rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.chat-user {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
}

.chat-user-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-user-avatar {
  width: 7rem !important;
  height: 7rem !important;
  font-size: 3rem !important;
}

.chat-user-list button {
  font-size: 1.6rem;
  background-color: #1a73e8;
  color: white;
  padding: 1.5rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.chat-user-detail {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.chat-body ::-webkit-scrollbar {
  width: 12px;
}

.chat-body ::-webkit-scrollbar-track {
  background: #a6a6a6;
  border-radius: 1rem;
}

.chat-body ::-webkit-scrollbar-thumb {
  background: rgba(2, 4, 79, 0.5);
  border-radius: 1rem;
}
