.create-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255, 0.7);
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  max-width: 30rem;
  width: 100%;
}

.create-event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.create-event-input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.8rem;
}

.create-event-input {
  width: 80%;
  padding: 0.6rem;
  border: 1px solid #e6ecf8;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  color: #141c3a;
  outline: 0;
}

.extra-create-event {
  margin-top: 1.2rem;
}
