.create-task {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  gap: 5rem;
  padding: 10rem 8rem;
  width: 60rem;
}

.extra-create-task-title {
  margin: 0;
}

.create-task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.create-task-input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.8rem;
}

.create-task-input {
  width: 85%;
  padding: 1.5rem;
  border: 2px solid #e6ecf8;
  border-radius: 1.7rem;
  font-size: 1.8rem;
  color: #141c3a;
  outline: 0;
}

.text-area {
  font-family: inherit;
  height: 10rem;
  resize: none;
}

.start-due-date-task {
  display: flex;
  width: 92%;
  gap: 1rem;
  margin-right: 1rem;
}

.start-date-task {
  width: 50%;
}

.start-date-task label {
  font-size: 1.8rem;
}

.due-date-task {
  width: 50%;
}

.due-date-task label {
  font-size: 1.8rem;
}

.extra-create-task-input {
  width: 90%;
}

.create-event-selected-event {
  font-size: 1.4rem;
  color: black;
  transition: color 0.2s linear;
}

.selected-event {
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.2s linear;
}

.create-event-selected-event svg {
  margin-left: 0.5rem;
}

.selected-event:hover {
  color: rgb(2, 4, 79);
}

.selected-member {
  display: inline-block;
}
