.create-task {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  gap: 5rem;
  padding: 5rem 5rem 7rem;
  width: 60rem;
}


.extra-create-task-title {
  margin: 0;
}

.create-task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.create-task-input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.8rem;
}

.create-task-input {
  width: 85%;
  padding: 1.5rem;
  border: 2px solid #e6ecf8;
  border-radius: 1.7rem;
  font-size: 1.8rem;
  color: #141c3a;
  outline: 0;
}

.text-area {
  font-family: inherit;
  height: 10rem;
  resize: none;
}

.start-due-date-task {
  display: flex;
  width: 92%;
  gap: 1rem;
  margin-right: 1rem;
}

.start-date-task {
  width: 50%;
}

.start-date-task label {
  font-size: 1.8rem;
}

.due-date-task {
  width: 50%;
}

.due-date-task label {
  font-size: 1.8rem;
}

.extra-create-task-input {
  width: 90%;
}

.selected-task {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.4rem;
  transition: color 0.2s linear;
}

.selected-task:hover {
  color: rgb(2, 4, 79);
}

.create-task-selected-task svg {
  margin-left: 0.5rem;
}

.create-task-selected-members {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1.5rem;
}

.css-uoam7u-MuiButtonBase-root-MuiChip-root {
  height: 4rem !important;
  border-radius: 2rem !important;
}

.MuiButtonBase-root .MuiChip-avatar {
  width: 3rem !important;
  height: 3rem !important;
  margin-right: 0 !important;
}

.MuiChip-label {
  font-size: 1.4rem !important;
}

.MuiChip-deleteIcon {
  margin: 0 !important;
  font-size: 3rem !important;
}

.feedback-create-task {
  position: absolute;
  bottom: 2%;
}
