  .department-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .department-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .primary-button {
    width: 92%;
    height: 5rem;
    font-size: 2rem;
    font-weight: 600;
    background-color: #57b846;
    color: #fff;
    margin-bottom: 1.5rem;
    border-radius: 1.7rem;
    cursor: pointer;
    outline: none;
    border: none;
    transition: all 0.2s linear;
  }

  