.create-event {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  gap: 5rem;
  padding: 4rem 6rem 7rem;
  width: 50rem;
}

.extra-create-event-title {
  margin: 0;
}

.create-event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.create-event-input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.8rem;
}

.create-event-input {
  width: 85%;
  padding: 1.5rem;
  border: 2px solid #e6ecf8;
  border-radius: 1.7rem;
  font-size: 1.8rem;
  color: #141c3a;
  outline: 0;
}

.start-due-date-event {
  display: flex;
  width: 92%;
  gap: 1rem;
}

.start-date-event {
  width: 50%;
}

.start-date-event label {
  font-size: 1.8rem;
}

.due-date-event {
  width: 50%;
}

.due-date-event label {
  font-size: 1.8rem;
}

.time-budget-create-event {
  display: flex;
  width: 92%;
  gap: 1rem;
}

.create-event-time,
.create-event-budget {
  width: 50%;
}

.create-event-time label,
.create-event-budget label {
  font-size: 1.8rem;
}

.extra-create-event-button {
  margin-top: 1.2rem;
}

.extra-create-event-input {
  width: 92%;
}

.create-event-selected-members {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1.5rem;
}

.selected-member {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.2s linear;
}

.create-event-selected-members svg {
  margin-left: 0.2rem;
}

.selected-member:hover {
  color: rgb(2, 4, 79);
}

.feedback-create-event {
  position: absolute;
  bottom: 2%;
}

.time-budget-event {
  display: flex;
  width: 92%;
  gap: 1rem;
}

.event-time,
.event-budget {
  width: 50%;
}

.extra-create-event-status-input {
  width: 92%;
}
