.create-event {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  gap: 5rem;
  padding: 10rem 8rem;
  width: 50rem;
}

.extra-create-event-title {
  margin: 0;
}

.create-event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.create-event-input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.8rem;
}

.create-event-input {
  width: 85%;
  padding: 1.5rem;
  border: 2px solid #e6ecf8;
  border-radius: 1.7rem;
  font-size: 1.8rem;
  color: #141c3a;
  outline: 0;
}

.extra-date-time-input-event-form {
  width: 92%;
}

.extra-create-event {
  margin-top: 1.2rem;
}

.extra-create-event-input {
  width: 92%;
}

.create-event-selected-members {
  font-size: 1.4rem;
  color: black;
  transition: color 0.2s linear;
}

.selected-member {
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.2s linear;
}

.create-event-selected-members svg {
  margin-left: 0.5rem;
}

.selected-member:hover {
  color: rgb(2, 4, 79);
}
