.profile-information h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
}

.profile-information h2 {
  margin-top: 0;
  font-size: 1.8rem;
}

div .profile-avatar {
  width: 25rem !important;
  height: 25rem !important;
  font-size: 10rem !important;
}

div .profile-avatar:hover {
  transform: scale(1);
}

.profile-page-container {
  gap: 5rem;
  display: flex;
  width: 90%;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
}

.profile-information {
    border-radius: 0.25rem;
  position: relative;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #e6e4e4;
  padding: 3rem;
}

.profile-stats {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.profile-stats-row {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.profile-stats-row h3 {
  font-size: 1.4rem;
  font-weight: 400;
}

.profile-stats-row h3 {
  margin: 0;
}

.profile-data {
  width: 100%;
}

.profile-edit-icon {
  position: absolute !important;
  padding: 2rem !important;
  border-radius: 50% !important;
  /* background-color: #e6e4e4d5 !important; */
  right: 27rem !important;
  top: -1.5rem !important;
}

.profile-edit-icon:hover {
  background-color: rgba(255, 255, 255, 0) !important;
}

.edit-button {
  color: black;
}

.profile-user-info {
    margin-top: 4rem;
}

.profile-personal-info {
    transition: 0.2s linear transform, 0.2s linear font-weight;
}

.profile-personal-info:hover {
    cursor: pointer;
    transform: scale(1.05);
    font-weight: bold;
}

.profile-stats-contact {
  color: #1976d2;
}


.profile-phone {
    direction: ltr;
    color: black;
    text-decoration: none;
}

.title-info {
    margin-right: 1.5rem;
    margin-bottom: 0rem;
}

.profile-navbar {
  border-bottom: 1px solid #ccc;
}

.profile-navbar ul {
    display: flex;
    gap: 1rem;
    width: auto;
    padding: 0;
    list-style: none;
}
.profile-navbar li {
    font-weight: bold;
    font-size: 1.8rem;
}

.profile-navbar .selected {
    text-decoration: underline; 
    background-color: rgb(2, 4, 79) !important;
    /* Or any other styles for the selected state */
  }

  .profile-navbar-buttons {
    font-size: 1.8rem !important;
  }

  .profile-content {
    margin-top: 3.5rem;
  }