.edit-department-style {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  gap: 5rem;
  padding: 4rem 4rem 6rem;
  width: 50rem;
}

.edit-department-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.edit-department-title {
  margin: 0;
  font-weight: 700;
  font-size: 4.5rem;
}

.edit-department-input-container {
  width: 100%;
  margin-right: 4.5rem;
}
