.edit-user {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  padding: 4rem 4rem 6rem;
  width: 60rem;
}

.user-edit-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.edit-user-input-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.edit-user-input-box select {
  width: 91%;
}

.feedback-edituser {
  margin-top: 1.7rem;
}

.mail-lock-icon {
  position: absolute;
  right: 0.5rem;
  top: 21rem;
}

.email-input {
  transition: 0.2s linear background-color;
}

.email-input:hover {
  cursor: not-allowed;
  background-color: #D0D0D0;
  border: 1px solid rgba(114, 114, 114, 0.3)
}