.edit-task-style {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  gap: 5rem;
  padding: 5rem 5rem 7rem;
  width: 60rem;
}

.edit-task-title {
  margin: 0 0 1rem 0;
  font-size: 4rem;
}

.edit-task-input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.8rem;
}

.edit-task-input-box textarea {
  font-family: inherit;
  height: 10rem;
  resize: none;
}

.edit-task-input {
  width: 85%;
  padding: 1.5rem;
  border: 2px solid #e6ecf8;
  border-radius: 1.7rem;
  font-size: 1.8rem;
  color: #141c3a;
  outline: 0;
}

.edit-task-date-inputs {
  display: flex;
  width: 92%;
  gap: 1rem;
  margin-right: 1rem;
}

.time-budget-task {
  display: flex;
  width: 92%;
  gap: 1rem;
  margin-right: 1rem;
}

.edit-task-start-date {
  width: 50%;
}

.edit-task-start-date label {
  font-size: 1.8rem;
}

.edit-task-due-date {
  width: 50%;
}

.edit-task-due-date label {
  font-size: 1.8rem;
}

.extra-edit-task-input {
  width: 90%;
}

.edit-task-input-time {
  width: 50%;
}

.edit-task-input-time label {
  font-size: 1.8rem;
}

.edit-task-input-budget {
  width: 50%;
}

.edit-task-input-budget label {
  font-size: 1.8rem;
}

.feedback-edit-task {
  position: absolute;
  bottom: 2rem;
}
