.edit-access {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  padding: 4rem 4rem 6rem;
  width: 50rem;
}

.title-edit-access {
  margin: 0;
  font-size: 4.5rem;
  padding-bottom: 2rem;
  font-weight: 700;
  font-style: normal;
}

.edit-access-input {
  cursor: pointer;
  font-size: 1.8rem;
}

.edit-access-all {
  padding-left: 3.5rem;
}

.edit-access-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.edit-access-input-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 1.2rem;
  font-size: 1.8rem;
}

.edit-access-feedback {
  position: absolute;
  bottom: 1rem;
}