.edit-user {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  padding: 4rem 4rem 6rem;
  width: 50rem;
}

.edit-user-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.edit-user-input-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1.2rem;
}

.edit-user-input-box select {
  width: 91%;
}

.edit-user-feedback {
  position: absolute;
  bottom: 1rem;
}

.mail-lock-icon {
  position: absolute;
  top: 21.4rem;
  right: 0;
}

.email-input {
  transition: 0.2s linear background-color;
}

.email-input:hover {
  cursor: not-allowed;
  background-color: #d0d0d0;
}
