.event-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.event-page-style {
  padding: 5rem 10rem 0 0;
  display: flex;
  justify-content: center;
  width: 90%;
  gap: 5rem;
}

.event-details {
  width: 20%;
  padding: 2rem;
  background-color: rgb(252, 202, 71, 0.15);
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-details h1 {
  width: 87%;
  word-wrap: break-word;
  margin: 0;
  padding-bottom: 2rem;
  font-size: 5rem;
}

.event-details p {
  font-size: 2rem;
  padding: 1rem 0;
}

.lower-event-page-content {
  padding: 5rem 10rem 5rem 0;
  display: flex;
  justify-content: center;
  width: 85%;
  gap: 5rem;
}

.event-page-participants {
  width: 23%;
  padding: 2rem;
  background-color: rgb(252, 202, 71, 0.15);
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-page-files {
  border: 2px solid red;
  width: 80%;
}

.event-box {
  position: relative;
}

.event-page-edit-icon {
  position: absolute !important;
  top: 0;
  left: 0;
}

.event-page-edit-icon .MuiSvgIcon-root {
  width: 3rem !important;
  height: 3rem !important;
}

.event-tasks {
  width: 70%;
  height: auto;
}

.manage-task-avatar-group {
  direction: ltr;
}

.participant-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.participant-item p {
  font-size: 2rem;
}

.event-page-participants h2 {
  font-size: 3rem;
  margin: 0;
  padding-bottom: 1rem;
}

.edit-event-popup {
  position: absolute;
  top: -2rem;
  left: 36.5%;
}

.event-page-comments {
  width: 60%;
  border: 2px solid red;
}
