.event-bold {
  font-weight: bold;
}

.event-box {
  display: flex;
  width: 100%;
}

.event-field {
  width: 20%;
  min-height: 2.5rem;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.253);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.event-field > div {
  width: 70%;
}

.event-field > .sort-svg {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  transition: transform 0.2s linear;
}

.event-field > .sort-svg:hover {
  cursor: pointer;
  opacity: 100%;
  transform: scale(1.1);
}

/* .event-id, */
.event-view {
  width: 3%;
  text-align: center;
}

.event-bold {
  font-weight: bold;
}

.event-view > svg {
  transition: opacity 0.2s linear, color 0.2s linear, transform 0.2s linear;
  opacity: 60%;
}

.event-view > svg:hover {
  cursor: pointer;
  opacity: 100%;
  transform: scale(1.2);
  color: rgb(18, 21, 116);
}
