.event-page {
  position: relative;
}

.event-page-style {
  padding: 5rem 10rem 0 0;
  display: flex;
  justify-content: center;
  width: 90%;
  gap: 5rem;
}

.event-details {
  width: 20%;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-details h1 {
  width: 87%;
  word-wrap: break-word;
  margin: 0;
  padding-bottom: 2rem;
  font-size: 5rem;
}

.event-details p {
  font-size: 2rem;
  padding: 1rem 0;
}

.event-box {
  position: relative;
}

.event-page-edit-icon {
  position: absolute !important;
  top: 0;
  left: 0;
}

.event-page-edit-icon .MuiSvgIcon-root {
  width: 3rem !important;
  height: 3rem !important;
}

.event-tasks {
  width: 70%;
  height: auto;
}

.manage-task-avatar-group {
  direction: ltr;
}

.edit-event-popup {
  position: absolute;
  top: -2rem;
  left: 36.5%;
}
