.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(2, 4, 79, 0.8);
  }
  
  .login-style {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    gap: 5rem;
    padding: 10rem 8rem;
    width: 110rem;
  }
  
  .forms-box {
    width: 100%;
  }
  
  .login-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .login-logo img {
    width: 70%;
  }
  
  .login-logo p {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    font-style: normal;
  }
  
  .title-forgot-password {
    font-size: 4.5rem;
    /* padding-bottom: 4rem; */
    font-weight: 700;
    font-style: normal;
  }
  
  .subtitle {
    font-size: 2rem;
    margin: 0 0 2rem;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    width: 100%;
  }
  
  .forms-input {
    width: 85%;
    padding: 1.5rem;
    border: 1px solid #e6ecf8;
    border-radius: 1.7rem;
    font-size: 1.8rem;
    color: #141c3a;
    background: #e6e6e6;
    outline: 0;
  }
  
  .form-checkbox {
    display: flex;
    align-items: center;
    margin-left: 39.5rem;
    margin-bottom: 2rem;
  }
  
  .input-checkbox {
    width: 3rem;
    transform: scale(1.5);
  }
  
  .label-checkbox {
    font-size: 1.6rem;
  }
  
  .primary-button {
    width: 92%;
    height: 5rem;
    font-size: 2rem;
    font-weight: 600;
    background-color: #57b846;
    color: #fff;
    margin-bottom: 1.5rem;
    border-radius: 1.7rem;
    cursor: pointer;
    outline: none;
    border: none;
    transition: all 0.2s linear;
  }
  
  .primary-button:hover {
    background-color: #333;
  }
  
  .registration-button {
    padding-top: 3rem;
  }
  
  .registration-button a {
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 1.7rem;
    padding: 1rem 3rem;
    color: #fff;
    background-color: dodgerblue;
    transition: all 0.2s linear;
  }
  
  .registration-button a:hover {
    background-color: #333;
  }
  
  .forgot-password {
    text-decoration: none;
    font-size: 1.8rem;
    color: #666;
    outline: none;
    transition: color 0.2s linear;
  }
  
  .forgot-password:hover {
    color: #57b846;
  }
  
  .error-messages {
    position: absolute;
    right: 28rem;
    top: 20.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: bold;
    width: 100%;
  }
  
  .incorrect-box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d04848;
  }
  
  .incorrect-message {
    margin-top: 0;
  }
  
  .login-alert {
    margin-bottom: 2rem;
  }
  