.styled-input {
    width: 90%;
    padding: 16px;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    outline: none;
}

.styled-input::placeholder {
    text-align: right;
    direction: rtl;
}

.button {
    width: 100%;
    background-color: #2563eb;
    color: #ffffff;
    padding: 16px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #92b3f6;
}

.login {
    background-color: #ffffff;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 448px;
    width: 100%;
}

.input-container {
    margin-bottom: 16px;
}

.title {
    text-align: center;
    margin-bottom: 16px;
}

.subtitle {
    text-align: center;
    margin-bottom: 16px;
}

.incorrect-message {
    text-align: center;
    margin-bottom: 16px;
}

.incorrect-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: rgba(255, 0, 0, 0.321);
    border-radius: 8px;
    padding: 16px;
    height: 10px;
    width: 50%;
    margin: 20px 0px 0px 90px;
}

.forgot-password {
font-size: 13px;
}