.manage-tasks-styles {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.manage-tasks-styles h1 {
  margin: 2rem 0 5rem;
  font-size: 3.5rem;
}

.add-tasks-manage-tasks {
  position: absolute;
  top: 7rem;
  right: 5%;
}

@media (max-width: 1860px) {
  .add-tasks-manage-tasks {
    position: absolute;
    top: 5.5rem;
    right: 5%;
  }
}

@media screen and (max-width: 1333px) {
  .add-tasks-manage-tasks {
    position: absolute;
    top: 5.5rem;
    right: 5%;
  }
}

.manage-task-avatar-group {
  direction: ltr;
}

.search-task-bar {
  position: absolute;
  top: 7rem;
  left: 5%;
}

.search-task-bar svg {
  position: absolute;
  height: 100%;
  width: 10%;
  right: 4%;
}
