.manage-users-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.page-title-manage-users {
  font-size: 3.5rem;
  font-weight: bold;
}

.table-title {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.datagrid-table {
  width: 90%;
}

.user-data-feedback {
  margin: 1rem;
}

.display-create-user {
  top: 7%;
  position: fixed;
  z-index: 1;
}

.search-input {
  border: 1px solid #ccc;
  border-radius: 2rem;
  padding: 0.6rem 3rem 0.6rem 0;
  margin: 0.5rem;
}

.search-users-table {
  position: relative;
}
.search-users-table svg {
  position: absolute;
  height: 100%;
  width: 10%;
  right: 4%;
}

.add-user-button {
  position: absolute;
  right: 5%;
  top: 7rem;
}

.user-privilege-indicator {
  display: flex;
  align-items: center;
}

.addition-indicator {
  margin-right: 1rem;
  color: rgb(2, 4, 79);
}
