.manage-users-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.page-title-manage-users {
  font-size: 3.5rem;
  font-weight: bold;
}

.table-title {
  margin: 2rem 0 5rem;
  font-size: 2.3rem;
  font-weight: bold;
}

.divider-manage-users {
  width: 95%;
  border: none;
  border-top: 2px solid rgb(2, 4, 79);
  margin: 5rem 0;
}

.datagrid-table {
  width: 90%;
}

.user-data-feedback {
  margin: 1rem;
}

.display-create-user {
  top: 7%;
  position: fixed;
  z-index: 1;
}

.search-input {
  border: 1px solid #ccc;
  border-radius: 2rem;
  padding: 0.6rem 3rem 0.6rem 0;
  margin: 0.5rem;
}

.search-active-users-table {
  position: absolute;
  top: 11rem;
  left: 5%;
}

.search-active-users-table svg {
  position: absolute;
  height: 100%;
  width: 10%;
  right: 4%;
}

.unactive-users {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search-unactive-users-table {
  position: absolute;
  top: 16rem;
  left: 5%;
}

.search-unactive-users-table svg {
  position: absolute;
  height: 100%;
  width: 10%;
  right: 4%;
}

.waiting-users {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search-waiting-users-table {
  position: absolute;
  top: 16rem;
  left: 5%;
}

.search-waiting-users-table svg {
  position: absolute;
  height: 100%;
  width: 10%;
  right: 4%;
}

.add-user-button {
  position: absolute;
  right: 5%;
  top: 10.5rem;
}

@media screen and (max-width: 1200px) {
  .add-user-button {
    top: 9.5rem;
  }
}

.user-privilege-indicator {
  display: flex;
  align-items: center;
}

.addition-indicator {
  margin-right: 1rem;
  color: rgb(2, 4, 79);
}
