.manage-users-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.page-title {
    font-size: 3rem;
    font-weight: bold;
}

.table-title {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.datagrid-table {
    width: 80%;
}

.user-data-feedback {
    margin: 1rem;
    
}