.manage-departments {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manage-departments h1 {
  margin: 2rem 0 2rem 0;
  font-size: 3.5rem;
}

.add-department-button {
  position: absolute;
  padding-right: 1rem;
  top: 4.5rem;
  right: 5%;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
