.manage-events-styles {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.manage-events-styles h1 {
  font-size: 3.5rem;
}

.add-events-manage-events {
  position: absolute;
  top: 5.5rem;
  right: 5%;
}

@media (max-width: 1440px) {
  .add-events-manage-events {
    position: absolute;
    top: 5.5rem;
    right: 5%;
  }
}

@media screen and (max-width: 1280px) {
  .add-events-manage-events {
    position: absolute;
    top: 3%;
    right: 5%;
  }
}

.manage-events-avatar-group {
  direction: ltr;
}

.search-input {
  border: 1px solid #ccc;
  border-radius: 2rem;
  padding: 0.6rem 3rem 0.6rem 0;
  margin: 0.5rem;
}

.search-events-bar {
  position: relative;

}

.search-events-bar svg {
  position: absolute;
  height: 100%;
  width: 10%;
  right: 4%;
}
