.manage-tasks-styles {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.manage-tasks-styles h1 {
  margin: 2rem 0 0;
  font-size: 3.5rem;
}

.add-tasks-manage-tasks {
  position: absolute;
  top: 7rem;
  right: 5%;
}

@media (max-width: 1440px) {
  .add-tasks-manage-tasks {
    position: absolute;
    top: 5.5rem;
    right: 5%;
  }
}

@media screen and (max-width: 1280px) {
  .add-tasks-manage-tasks {
    position: absolute;
    top: 5.5rem;
    right: 5%;
  }
}

.manage-task-avatar-group {
  direction: ltr;
}

.search-events-bar {
  margin-bottom: 1rem;
}
