header {
  background-color: rgb(2, 4, 79);
  padding-bottom: 1rem;
}

header .logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 0 0rem;
  text-align: center;
}

.logo-img {
  width: 5rem;
}

.logo a p {
  text-align: center;
  font-size: 1.2rem;
  width: 11rem;
  color: white;
}

.nav-items {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 3rem;
}

.nav-items ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-items li {
  list-style: none;
  font-size: 1.5rem;
}

.nav-items li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: color 0.2s linear;
}

.nav-items li a:hover {
  color: rgb(222, 222, 222);
}

.search-li-nav {
  position: relative;
  margin-top: 0.45rem;
}

.search-li-nav svg {
  position: absolute;
  height: 100%;
  width: 10%;
  right: 4%;
}

.search-input-nav {
  border: 2px solid rgb(2, 4, 79);
  border-radius: 2rem;
  padding: 0.6rem 3rem 0.6rem 0;
  width: 100%;
  font-size: 1.2rem;
}

.left-side-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.left-side-nav svg {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition: transform 0.2s linear;
}

.MuiAvatar-root {
  width: 5rem !important;
  height: 5rem !important;
  cursor: pointer;
  transition: transform 0.2s linear;
}

.left-side-nav svg:hover,
.MuiAvatar-root:hover {
  transform: scale(1.1);
}

.logout-button {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.3rem 1.4rem 0.7rem;
  border: 2px solid #d12626;
  border-radius: 2rem;
  background-color: #d12626;
  transition: border 0.2s linear, background-color 0.2s linear;
}

.logout-button:hover {
  border: 2px solid red;
  background-color: red;
}

.message-icon {
  color: white;
}

.notification-icon {
  position: relative;
  color: white;
}

.MuiBadge-badge {
  font-size: 1.6rem !important;
}

.notification-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  padding: 1.3rem;
  top: 7rem;
  left: 21.5rem;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  max-width: 30rem;
  min-width: 30rem;
}

.notification-title {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.notification-msg {
  text-align: right;
}

.notification-actions {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

.notification-button {
  text-decoration: none;
  font-size: 1.6rem;
  padding: 0.3rem 1.2rem;
  border-radius: 1.5rem;
  color: #fff;
  background-color: dodgerblue;
  transition: all 0.2s linear;
}

.notification-button:hover {
  background-color: #333;
}

.notification-item {
  width: 100%;
  text-align: right;
}
