header {
  background-color: rgb(2, 4, 79);
}

header .logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 1rem 0 0rem;
  text-align: center;
}

.logo-img {
  width: 8rem;
}

.logo a p {
  text-align: center;
  font-size: 1.8rem;
  width: 15rem;
  color: white;
}

.nav-items {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 3rem;
}

.nav-items ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-items li {
  list-style: none;
  font-size: 1.8rem;
}

.nav-items li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: all 0.2s linear;
}

.nav-items li a:hover {
  color: #f8c748;
}

.nav-items ul li.active a {
  color: #f8c748;
}

.search-li-nav {
  position: relative;
  margin-top: 0.45rem;
}

.search-li-nav svg {
  position: absolute;
  height: 100%;
  width: 10%;
  right: 3.5%;
}

.search-input-nav {
  border: 2px solid rgb(2, 4, 79);
  border-radius: 2rem;
  padding: 0.6rem 3rem 0.6rem 0;
  width: 100%;
  font-size: 1.5rem;
}

.left-side-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.left-side-nav svg {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition: transform 0.2s linear;
}

.MuiAvatar-root {
  width: 5rem !important;
  height: 5rem !important;
  font-size: 1.8rem !important;
  cursor: pointer;
  transition: transform 0.2s linear;
}

.left-side-nav svg:hover,
.MuiAvatar-root:hover {
  transform: scale(1.1);
}

.logout-button {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.3rem 1.4rem 0.7rem;
  border: 2px solid #d24949;
  border-radius: 2rem;
  background-color: #d24949;
  transition: border 0.2s linear, background-color 0.2s linear;
}

.logout-button:hover {
  border: 2px solid #d12626;
  background-color: #d12626;
}

.message-icon {
  color: white;
}

.notification-icon {
  position: relative;
  color: white;
}

.MuiBadge-badge {
  font-size: 1.6rem !important;
}

.notification-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  padding: 1.3rem;
  top: 7rem;
  left: 21.5rem;
  background-color: white;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 1rem;
  max-width: 50rem;
  min-width: 50rem;
}

.notification-dropdown .MuiDivider-root {
  border-width: 0.1rem !important;
  width: 98% !important;
  margin: 0 auto !important;
}

.notification-title {
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.notification-msg {
  text-align: right;
}

.notification-actions {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.notification-button {
  text-decoration: none;
  font-size: 1.7rem;
  min-width: 5rem;
  padding: 0.3rem 1.2rem;
  border-radius: 2rem;
  color: #fff;
  background-color: rgb(2, 4, 79);
  transition: all 0.2s linear;
}

.notification-button:hover {
  background-color: #333;
}

.notification-item {
  position: relative;
  width: 100%;
  text-align: right;
  transition: all 0.1s linear;
  cursor: pointer;
}

.notification-item p {
  font-size: 1.8rem;
  margin: 1rem;
  word-wrap: break-word;
}

.notification-item:hover {
  border-radius: 1.5rem;
  background-color: rgba(2, 4, 79, 0.1);
}

.clear-notification {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  color: black;
  transition: all 0.2s linear;
  z-index: 2;
}

.clear-notification svg {
  width: 2rem;
  height: 2rem;
  z-index: 2;
}

.clear-notification:hover {
  color: rgb(2, 4, 79);
  transform: scale(1.1);
}

.search-results {
  position: absolute;
  background-color: white;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  max-width: 26rem;
  min-width: 26rem;
  top: 3.5rem;
  z-index: 1;
  overflow: hidden;
}

.search-result-item {
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.search-result-item:hover {
  background-color: rgba(2, 4, 79, 0.1);
}

.no-result-found {
  padding: 1rem;
  font-size: 1.4rem;
}

.strikethrough {
  text-decoration: line-through 2px rgb(2, 4, 79);
  font-size: 1.4rem;
}
