.profile-information h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
}

.profile-information h2 {
  margin-top: 0;
  font-size: 1.8rem;
}

div .profile-avatar {
  width: 25rem !important;
  height: 25rem !important;
  font-size: 10rem !important;
}

div .profile-avatar:hover {
  transform: scale(1);
}

.profile-page-container {
  gap: 5rem;
  display: flex;
  width: 90%;
  margin-top: 5rem;
  margin-right: 17rem;
  margin-left: auto;
}

.profile-information {
  width: 25rem;
  border-radius: 0.25rem;
  border: 0.5px solid #ccc;
  position: relative;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  background-color: rgb(64, 142, 198, 0.25);
  padding: 3rem;
}

.profile-stats {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.profile-stats-row {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.profile-stats-row h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.profile-stats-row h3 {
  margin: 0;
}

.profile-stats-row svg {
  font-size: 2rem;
}

.profile-data {
  width: 80%;
}

.profile-edit-icon {
  position: absolute !important;
  right: 26rem !important;
  top: 0.5rem !important;
}

.profile-edit-icon:hover {
  background-color: rgba(255, 255, 255, 0) !important;
}

.edit-button {
  width: 2.5rem !important;
  height: 2.5rem !important;
  color: black;
}

.profile-user-info {
  margin-top: 4rem;
}

.profile-personal-info {
  transition: 0.2s linear transform, 0.2s linear font-weight;
}

.profile-personal-info:hover {
  cursor: pointer;
  transform: scale(1.05);
  font-weight: bold;
}

.profile-stats-contact {
  color: rgb(2, 4, 79);
}

.profile-phone {
  direction: ltr;
  color: black;
  text-decoration: none;
}

.title-info {
  margin-right: 1.5rem;
  margin-bottom: 0rem;
}

.profile-navbar {
  border-bottom: 1px solid #ccc;
}

.profile-navbar ul {
  display: flex;
  gap: 1rem;
  width: auto;
  padding: 0;
  list-style: none;
}
.profile-navbar li {
  font-weight: bold;
  font-size: 1.8rem;
}

.profile-navbar .selected {
  text-decoration: underline;
  background-color: rgb(2, 4, 79) !important;
}

.profile-navbar-buttons {
  font-size: 1.8rem !important;
}

.profile-content {
  margin-top: 2rem;
}

.user-profile-action-div {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.create-contact-log-button {
  color: white;
  border: 1px solid rgba(2, 5, 79, 0.582);
  background: rgb(2, 5, 79);
  padding: 0.8rem 2rem;
  border-radius: 2.5rem;
  text-align: center;
  transition: all 0.2s linear;
}

.create-contact-log-button:hover {
  cursor: pointer;
  background-color: rgb(18, 21, 116);
  transform: scale(1.03);
}
.search-input-contact-logs {
  border: 1px solid #ccc;
  border-radius: 2rem;
  padding: 0.8rem 2rem;
  padding-left: 0.5rem;
}

.contact-src-log {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.search-log-table {
  position: relative;
}

.search-log-table svg {
  position: absolute;
  height: 70%;
  /* width: 5%; */
  right: -3%;
}