body {
  direction: rtl;
  font-size: 10px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.registration-input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.extra-reg {
  margin-top: 2rem;
}

.feedback p {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: #d04848;
}
