html {
  direction: rtl;
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  color: #212529;
}

@media (max-width: 1440px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 6px;
  }
}
