html {
  direction: rtl;
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  color: #212529;
}

@media (max-width: 1440px) {
  html {
    font-size: 7px;
  }
  .MuiPaper-root {
    padding: 5px 11px !important;
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 6px;
  }
  .MuiPaper-root {
    padding: 0px 4px !important;
  }
}

.feedback-alert {
  display: flex;
  align-items: center;
  font-size: 1.7rem !important;
  padding-left: 3rem !important;
  border-radius: 10px !important;
  gap: 0.4rem;
}
