html,
body,
#root {
  height: 100%;
}

html {
  direction: rtl;
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  color: #212529;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  z-index: 666;
  animation: fadeIn 0.2s forwards;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 1;
}

@media screen and (max-width: 1500px) {
  html {
    font-size: 8px;
  }
  .MuiPaper-root {
    padding: 5px 11px !important;
  }
  .avatar-position {
    position: relative;
    top: 10%;
  }
  .media-style {
    position: relative;
    max-height: 70rem;
    overflow-y: auto;
  }
  .media-alert {
    position: absolute;
    bottom: -5.5rem !important;
  }
  .media-form {
    position: relative;
    margin-top: auto;
  }
  .media-alert2 {
    position: absolute;
    bottom: -5.5rem !important;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 7px;
  }
  .MuiPaper-root {
    padding: 0px 4px !important;
  }
  .avatar-position {
    position: relative;
    top: 18%;
  }
  .media-style {
    position: relative;
    max-height: 50rem;
    overflow-y: auto;
  }
  .media-alert {
    position: absolute;
    bottom: -5rem !important;
  }
  .media-form {
    position: relative;
    margin-top: auto;
  }
  .media-alert2 {
    position: absolute;
    bottom: -5rem !important;
  }
}

.feedback-alert {
  display: flex;
  align-items: center;
  font-size: 1.7rem !important;
  padding-left: 3rem !important;
  border-radius: 10px !important;
  gap: 0.4rem;
}

.footer {
  padding-top: 4rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.status-cell {
  display: flex;
  align-items: center;
}

.status-circle {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.status-not-started {
  background-color: red;
}

.status-in-progress {
  background-color: #ffc400;
}

.status-finished {
  background-color: #36b37e;
}

.MuiDataGrid-root {
  box-shadow: 0 0.1rem 1rem -0.1875rem #000;
}

.css-uoam7u-MuiButtonBase-root-MuiChip-root .MuiChip-avatar {
  color: white !important;
}

.css-664hh0 .MuiChip-avatar {
  color: white !important;
}

.assigned-members-overflow {
  max-height: 10rem;
  overflow-y: auto;
}

.css-1n6sfyn-MenuList {
  max-height: 14rem !important;
}
