.task-page-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 5rem 12rem 0 auto;
  width: 90%;
  gap: 5rem;
}

.task-page-right-side {
  display: flex;
  flex-direction: column;
  width: 55rem;
}

.task-page-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 3rem;
}

.task-page-details {
  position: relative;
  width: 100%;
  padding: 2rem 2rem 2rem 0;
  background-color: rgb(64, 142, 198, 0.25);
  border-radius: 1rem;
  box-shadow: 0 0.1rem 1rem -0.1875rem #000;
}

.task-page-details h1 {
  width: 87%;
  word-wrap: break-word;
  margin: 0;
  padding-bottom: 2rem;
  font-size: 5rem;
}

.task-page-info p {
  font-size: 2rem;
  padding: 1rem 0;
}

.task-page-info .circle-space {
  margin-right: 1rem;
}

.task-page-edit-icon {
  position: absolute !important;
  top: 0;
  left: 0;
}

.task-page-edit-icon .MuiSvgIcon-root {
  width: 3rem !important;
  height: 3rem !important;
}

.edit-task-page-popup {
  position: absolute;
  top: -2rem;
  left: 36.5%;
  z-index: 1;
}

.task-page-participants {
  width: 100%;
  padding: 2rem 2rem 2rem 0;
  background-color: rgb(64, 142, 198, 0.25);
  border-radius: 1rem;
  box-shadow: 0 0.1rem 1rem -0.1875rem #000;
}

.task-page-participants h2 {
  font-size: 3rem;
  margin: 0;
  padding-bottom: 1rem;
}

.assignee-task-page-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.assignee-task-page-item p {
  font-size: 2rem;
}

.assignee-task-page-item a {
  text-decoration: none;
  color: black;
  transition: all 0.2s linear;
}

.assignee-task-page-item a:hover {
  color: rgb(2, 4, 79);
  transform: scale(1.05);
}

.task-page-left-side {
  width: 69%;
}

.task-page-navbar {
  border-bottom: 1px solid #ccc;
}

.task-page-content {
  margin-top: 2rem;
}

.link-to-event-from-task-page a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s linear;
}

.link-to-event-from-task-page a:hover {
  color: rgb(2, 4, 79);
}

.task-history {
  width: 100%;
  height: 631px;
}

.task-files {
  display: flex;
  flex-direction: column;
}

.task-files h2 {
  font-size: 2.5rem;
  margin: 0;
  padding-bottom: 1rem;
}

.task-files .filepond--wrapper {
  width: 60%;
  margin: 0 auto;
}

.task-files .filepond--drop-label {
  font-size: 2rem;
}

.task-files .filepond--wrapper .filepond--hopper {
  background-color: #f1f0ef !important;
  max-height: 25rem;
  overflow-y: auto;
}

.task-files
  .filepond--wrapper
  .filepond--hopper
  .filepond--list-scroller
  .filepond--list
  .filepond--item {
  font-size: 2.5rem;
  height: auto !important;
  background-color: #369763;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.task-files
  .filepond--wrapper
  .filepond--hopper
  .filepond--list-scroller
  .filepond--list
  .filepond--item
  .filepond--item-panel {
  display: none;
}

.task-files-table {
  width: 100%;
  height: 631px;
}
