.task-page-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 5rem 12rem 0 auto;
  width: 90%;
  gap: 5rem;
}

.task-page-right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55rem;
}

.task-page-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 3rem;
}

.task-page-details {
  position: relative;
  width: 100%;
  padding: 2rem 2rem 2rem 0;
  background-color: rgb(64, 142, 198, 0.25);
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-page-details h1 {
  width: 87%;
  word-wrap: break-word;
  margin: 0;
  padding-bottom: 2rem;
  font-size: 5rem;
}

.task-page-info p {
  font-size: 2rem;
  padding: 1rem 0;
}

.task-page-info .circle-space {
  margin-right: 1rem;
}

.task-page-edit-icon {
  position: absolute !important;
  top: 0;
  left: 0;
}

.task-page-edit-icon .MuiSvgIcon-root {
  width: 3rem !important;
  height: 3rem !important;
}

.edit-task-page-popup {
  position: absolute;
  top: -2rem;
  left: 36.5%;
  z-index: 1;
}

.task-page-participants {
  width: 100%;
  padding: 2rem 2rem 2rem 0;
  background-color: rgb(64, 142, 198, 0.25);
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-page-participants h2 {
  font-size: 3rem;
  margin: 0;
  padding-bottom: 1rem;
}

.assignee-task-page-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.assignee-task-page-item p {
  font-size: 2rem;
}

.task-page-comments {
  width: 60%;
  border: 2px solid red;
}

.task-page-left-side {
  width: 69%;
}

.task-page-navbar {
  border-bottom: 1px solid #ccc;
}

.task-page-content {
  margin-top: 2rem;
}
