.extra-create-user-form {
  width: 100%;
}

.create-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.create-user-input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.create-user-input-box select {
  width: 90%;
}

.new-department {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.extra-create-user-button {
  margin-bottom: 0;
}
