body {
  direction: rtl;
  font-size: 10px;
}

.create-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255, 0.7);
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  max-width: 30rem;
  width: 100%;
}

.create-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.create-user-input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.8rem;
}

.create-user-input-box select {
  width: 106%;
}

.new-department {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.create-user-input {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #e6ecf8;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  color: #141c3a;
  outline: 0;
}

.create-button {
  width: 85%;
  font-size: 1.4rem;
  background-color: #406aff;
  color: #ffffff;
  padding: 0.7rem;
  margin: 1.2rem 0;
  border: 1px solid #e6ecf8;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.create-button:hover {
  background-color: #2e4bd0;
}
